
FutureLabBragi/.idea/compiler.xml
FutureLabBragi/.idea/copyright/profiles_settings.xml
FutureLabBragi/.idea/gradle.xml
FutureLabBragi/.idea/misc.xml
FutureLabBragi/.idea/modules.xml
FutureLabBragi/.idea/runConfigurations.xml
.DS_Store
